/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.App {
  text-align: center;
  justify-content: center;
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */





.links {
  display: flex;
  width: 100%;
  background: rgb(84, 84, 232);
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
nav {
  padding-bottom: 0.5em;
  
}
button:active {
  transform: scale(0.9);
}
.links nav a {
  color: #000000;
  font-weight: 700;
  border-bottom: 2px solid white;
  text-decoration: none;
  padding: 2em 2em 1.4em 2em;
  transition: all 0.4s;
}
.links nav a:hover {
  background: #b4dbed;
  text-decoration: none;
  border-bottom: 3px solid #1a237e;
}
.links nav .active {
  background-color: white;
  border-bottom-width: 3px;
  border-bottom-color: #1a237e;
}


/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.home section {
  margin: auto;
  width: 80%;
  max-height: 800px;
  text-align: center;
}
.home .flip-card img {
  cursor: pointer;
  margin: auto;
  width: 60%;
  max-height: 600px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.home div:first-of-type {
  margin-top: 2em;
}
.home strong {
  text-decoration: underline;
}


/* Search Stocks Page */
.search-page{
  color: #000000;
}
.input{
  justify-content: center;

}
.TickerSearch{
padding: 1%;
}
.stocks{
margin: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 50%;
padding-bottom:2px;
}

.title{
background-color:black;
Padding-left:10px;
Padding-top:3px;
padding-bottom:3px;
margin-top:10px;
text-align: center;
color: white;
}
.stock-info{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: black;
border: 1px solid blue;
margin: 10px;
padding:20px;
color: white;
}
.name{
margin: auto;
}

.price{
margin: auto;
}
.up-down{
padding:1px;
border-radius: 15px;
}
.up-down p{
margin-left:10px;
margin-right:10px;
}
.open-price{
  padding:1px;
  border-radius: 15px;
  }
  .open-price p{
  margin-left:10px;
  margin-right:10px;
  }


.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 2%;
  height: 80px;
  margin-top: 65px;
  background-color: rgb(84, 84, 232);
  color: black;
  
  }